{% extends "base.html"%}
{% block content %}
<div class="aboutfc">
    <h1>About Ferrelli Cars</h1>
    <p>Ferrelli Car's has a humble beginning in San Diego, California when the founders
        had a dream to make enthusiast cars truly accessable to everyone. Now Ferrelli Cars 
        delivers on their promise day after day and makes the dreams of all drivers come true.
        Ferrelli Cars has the greatest inventory, customer service, and dedication to the craft
        and welcomes all with open arms</p>
</div>
{% endblock content %}