body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('/static/images/Background.jpeg');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/* css for registration and login form */
.content-section{
    background: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 375px;
    margin-right: 375px;
    color:white;
}

/* css for account update form */
.content-section2{
    background: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
    color:white;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FF0000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #FF0000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.ferrellicars h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: #FF0000;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    margin-left: -170px;
}

/* css for profile page */

.account-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    margin-top: -65px;
    position: relative;
    text-align: center;
}

.account-heading{
    font-size: 2.5rem;
    margin-top: -10px;
}

.profile-text{
    margin: auto;
    padding: auto;
    text-align: center;
}

.media-body p{
    margin-bottom: -20px;
}

/* css for about us page */
.aboutfc h1{
    text-align: center;
    font-size: 50px;
    color: #FF0000;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.aboutfc p{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}